/debian/hildon-application-manager
/debian/hildon-application-manager-dbg
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/build-stamp
/compile
/config.guess
/config.log
/config.status
/config.sub
/configure
/debian/files
/debian/hildon-application-manager.substvars
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/src/Makefile
/src/Makefile.in
/src/apt-worker
/src/ham-after-boot.launch
/src/hildon-application-manager-config
/src/hildon-application-manager.launch
/src/hildon-application-manager.run
/src/libhildon-update-notifier.la
/src/mime-open
/src/mime-server
/src/test-app-killer
/utils/Makefile
/utils/Makefile.in
/utils/maemo-application-running
/utils/maemo-confirm-text.launch
/utils/maemo-confirm-text.run
/utils/maemo-select-menu-location.launch
/utils/maemo-select-menu-location.run
