[Desktop Entry]
Name=tncpa_li_plugin_update_notifier
X-Text-Domain=hildon-application-manager
Icon=qgn_stat_new_updates
Category=temporal
Type=default
X-Path=libhildon-update-notifier.so
